*.json
.idea/
/target
/output
param/
pkg
*.wat
Cargo.lock
playground/*table.json
playground/output
playground/param
playground/sol/contracts/AggregatorVerifierStep*.sol
playground/sol/contracts/AggregatorConfig.sol